<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>XS | URL's - Shorten your links for free</title>
  <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
  <link rel="mask-icon" href="static/images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>


  <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>

  <div class="container">
    <div class="card"></div>

     <div class="card">
        <div class="face face1">
          <div class="content">
            <i class="fa fa-link"></i>
            <h3>YOUR XS | URL</h3>
          </div>
        </div>
       <div class="face face2">
         <div class="content">
           <p>http://xs-urls.xyz/get/{{short_link}}</p>
           <p><a href="http://xs-urls.xyz/get/{{short_link}}">http://xs-urls.xyz/get/{{short_link}}</a></p>
            <input type="text" id="shorted_link" value='http://xs-urls.xyz/get/{{short_link}}' hidden="hidden">
           <button style="background: black;color: white; width: 100px; height: 40px;margin-top: 10px;" onclick="myFunction()">Copy XS|URL</button><script src="index.js"></script>
         </div>
       </div>
    </div>
    <div class="card"></div>


    <div class="card">
       <div class="face face1">
         <div class="content">
           <i class="fa fa-qrcode"></i>
           <h3>YOUR QR-CODE</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="content">
           <img style="width: 300px;height: 195px;" src="{{qrcode('http://xs-urls.xyz/get/'+short_link, error_correction='H',fit=True,back_color='white',fill_color='#956ceb', icon_img='LOGOBLACKBIG.jpg' ) }}">
         </div>
       </div>
    </div>
    <div class="card"></div>


    <div class="card">
       <div class="face face1">
         <div class="content">
           <i class="fa fa-close"></i>
           <h3>BACK TO HOME PAGE</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="content">
           <a href="/" style="background: black; color: white; width: 100px; height: 40px;">HOME PAGE</a>
         </div>
       </div>
    </div>
    <div class="card"></div>





  </div>


</body>
</html>
<!-- partial -->

</body>
</html>
