<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <title>YOUR SHORT-URL</title>
</head>
<body>

    <div class="card">
        <form method="get">
        <h1 class="card__title">CropURL</h1>
        <p class="card__content">Make your url shorter,<br>more beautiful and anonymous</p><br>
        <p class="card__content"><a href="http://127.0.0.1:5000/get/{{short_link}}">http://127.0.0.1:5000/get/{{short_link}}</a></p>
            <img src="{{qrcode('http://127.0.0.1:5000/get/'+short_link,error_correction='H', icon_img='/static/images/logo.png' ) }}">
        <div class="card__form">
            <input type="text" contenteditable="true" id="shorted_link" value="http://127.0.0.1:5000/get/{{short_link}}">
            <button name="copyer" onclick="myFunction()" class="sign-up" value="COPY">COPY</button>
            </div>
        </form>

    </div>
    <script src="{{ url_for('static', filename='js/index.js')}}"></script>

</body>
</html>