<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>

    <title>INSERT YOUR URL</title>
</head>
<body>

    <div class="card">
        <form method="post">
        <h1 class="card__title">CropURL</h1>
        <p class="card__content">Make your url shorter,<br>more beautiful and anonymous</p>
        <div class="card__form">
            <input type="url" name="user_link" id="user_link" placeholder="ENTER YOUR URL">
            <button type="submit" class="sign-up" value="post">Crop</button>
            </div>
        </form>
    </div>


</body>
</html>
