<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Login Form with floating placeholder and light button</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-box">
  <h2>INSERT YOUR OLD LINK TO REVIEVE NEW ONE FROM OUR SERVICE</h2>
  <form method="post">

    <div class="user-box">
      <input type="url" name="user_link" required="" placeholder="INSERT YOUR LINK">
      <label>URL</label>
    </div>
    <a type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div>
<!-- partial -->
  
</body>
</html>
