
/* From uiverse.io by @kirzin */







/* From uiverse.io by @satyamchaudharydev */
.card {
  margin-top: 10%;
  margin-left: 33%;
  width: 610px;
  height: 290px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: #0006;
  border-radius: 20px;
}

.card > * {
  margin: 0;
}

.card__title {
  color: #000;
}

.card__content {
  font-size: 18px;
  line-height: 18px;
  color: #000;
}

.card__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__form input {
  margin-top: 10px;
  outline: 0;
  background: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em;
  width: 410px;
  border-radius: 15px;
  border: 1px solid #006;
  color: black;
}

.card__form button {
  border: 0;
  background: #000;
  color: #fff;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: bold;
}

.sign-up:hover {
  opacity: 0.5;
}



html {
  background-image: url(/static/bckg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}